<header class="header">
  <div class="header-text">Concurso:</div>
  <a href="#" class="header-link">Talana</a>
</header>
<section class="su">
  <h1 class="brand">Talana</h1>
  <h2>
    <span class="brand-text">Mu</span>Info
    <span class="brand-text">N</span>Noticias
  </h2>
  <p class="landing-main-text">
    Espectacular consurso
    <br>
  </p>
</section>
  <section class="resultado">
    <h2>Obtener <span class="brand-text">n</span>Ver resultados</h2>
    <ul>
      <li>Email</li>
    </ul>
  </section>
</section>